{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>
        {% block title %} {% endblock %}
    </title>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/base.css' %}">
    {% block styles %} {% endblock %}
</head>

<body>
    {% block body %} {% endblock %}
    <!-- code à insérer pour la navbar -->
    <!-- navbar -->
    <nav class="one-edge-shadow
navbar navbar-light
sticky-top navbar
navbar-expand-lg
text-white" >
        <a class="navbar-brand ms-3 text-dark " href="/">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
            <img src="magasin/media/images/logo.png" style="width:50px;height:50px;color:textlight;">E-Commerce
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" arialabel="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/magasin">Catalogue<span class="sronly">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Fournisseur">Fournisseur <span class="sronly">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Produit">Produit <span class="sronly">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">Administration <span class="sronly">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

</body>

</html>